<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="navbar">
        <div class="nav-logo border">
            <div class="logo">
            </div>
        </div>
        <div class="nav-address border">
            <p class="add-first">Enviar para</p>
            <div class="add-icon">
                <i class="fa-solid fa-location-dot"></i>
                <p class="add-second">Brasil</p>
            </div>
        </div>
        <div class="nav-search">
            <select>
                <option>Todos</option>
            </select>
            <input placeholder="Pesquisar">
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="nav-signin border">
            <p><span>Olá, faça seu login</span></p>
            <p class="nav-second">Contas e listas</p>
        </div>
        <div class="nav-return border">
            <p><span>Devoluções</span></p>
            <p class="nav-second">e pedidos</p>
        </div>
        <div class="nav-cart border">
            <i class="fa-solid fa-cart-shopping fa-2x"></i>
            <span class="cart">Carrinhos</span>
        </div>
    </div>

    <div class="panel">
        <div class="panel-ops">
            <p class="border2 all"><i class="fa-solid fa-bars"></i>Todos</p>
            <p class="border2">Ofertas do dia</p>
            <p class="border2">Comprar novamente </p>
            <p class="border2">Atendimento ao cliente</p>
            <p class="border2">Cartões de presente</p>
            <p class="border2">Alimentos e bebidas</p>
        </div>

        <div class="panel-deals border2" style="padding: 0.66%;">
            Ofertas em eletrônico
        </div>
    </div>
</body>

</html>